:root {
    color-scheme: light dark;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px;
}

form {
    display: flex;
}

textarea {
    field-sizing: content;
    min-height: calc(100vh - 30px);
    width: calc(30vw - 30px);
    resize: horizontal;
}

button {
    padding: 30px;
    align-self: center;
    background-color: light-dark(lightskyblue, navy);
}
